<%= form_for([@todo_list, @todo_list.todo_items.build]) do |f| %>
    <div class="columns is-mobile">
        <div class="column is-10">
            <%= f.text_field :content, placeholder: "New Todo", :class => 'input' %>
        </div>
        <div class="column is-2">
            <%= f.submit 'Create Todo Item', :class => 'button is-link'%>
        </div>
    </div>
<% end %>