<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="https://bulma.io">
            <h3 class="title is-5" style="color: #000!important;">Todos</h3>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/todo_lists/">
                Home
            </a>
        </div>

        <div class="navbar-end">
            <% if user_signed_in? %>
                <div class="navbar-item">
                    <b><%= current_user.email %></b>
                </div>
            <% end %>
            <div class="navbar-item">
                <div class="buttons">
                    <% if user_signed_in? %>
                        <%= link_to 'Log Out', destroy_user_session_path, method: :delete, :class => 'button is-light' %>
                    <% else %>
                        <a class="button is-primary">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light">
                            Log in
                        </a>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</nav>