@import "bulma/bulma.sass";

body {
  background-color: #fefefe;
  color: #333;
}

html {
  background-color: #fefefe;
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
}

a:visited {
  color: #666;
}

a:hover {
  color: #fff;
  background-color: #000;
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div.field,
div.actions {
  margin-bottom: 10px;
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

label {
  display: block;
}

.title {
  text-align: center;
}

.container {
  margin: 0 auto;

  height: calc(100vh - 56px);
  position: relative;
}

.box {
  max-width: 650px;
  width:100%;
  margin: 0 auto;

  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.new-todo {
  margin: 0 auto;
}

.table {
  width: 95%;
  margin: 24px 8px 0 8px;

  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.auth-form-wrap {
  padding: 1.5em;

  background-color: #fff;
  width: 320px;
  margin: 3em auto;
  box-shadow: 0px 1px 8px #BEBEBE;
  -webkit-box-shadow: 0px 1px 8px #BEBEBE;
  -moz-box-shadow: 0px 1px 8px #BEBEBE;
}

.title {
  color: #666!important;
}

.input {
  all: unset;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  font-family: inherit;
  padding: .8em 0 10px .8em;
  border: 1px solid #CFCFCF;
  outline: 0;
  display: inline-block;
  margin: 0 0 .8em 0;
  padding-right: 2em;
  width: 100%;

  color: #666;
}

.radio, .checkbox {
    color: #666;
}

.navbar {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}