<% content_for :todos_pages do -%>

    <%= render 'navbar' %>

    <div class="container">
        <div class="box">
            <%= yield %>
        </div>
    </div>
<% end -%>

<%= render :file => 'layouts/application' %>